@import "normalize";
@import "font.scss";
@import "bourbon";
@import "neat";
@import "colors";

.small {
  font-size: 13px;
}
.orange-text {
  color: $link-color;
}
.blue-text {
  color: $accent-color;
}
.grey-text {
  color: $muted-color;
}
.dark-text {
  color: $dark-color;
}

.lead {
  font-size: 36px;
  font-weight: bold;
}